.profile-img{
    width: 300px;
    border-radius: $border-radius;
}
.container-profile-icons{
    margin-top: 40px;
}
.nav-social-icon-profile{
    margin: 0 20px;
    font-size: 40px;
}

.nombre-card-contacto{
    margin: 10px 0;
    
}
.tel-card-contacto{
    font-size: 20px;
    margin: 10px 0;
    font-weight: 700;
}
