$gris: #707070;
$negro: #0A0A0A;
$blanco: #FFFFFF;
$amarillo: #E5B420;
$naranja-claro: #D48640;
$naranja-medio: #CA653A;
$naranja-oscuro: #C23D35;
$box-shadow: 5px 0 15px rgb(0 0 0 / 0.2);
$transition: color 0.1s, background-color 0.2s ease-in-out;
$border-radius: 0.4em;

