@import url(//fonts.googleapis.com/css?family=Lato:300:400);
.inicio {
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap;
}

.title-inicio {
  font-weight: 600;
  font-size: 70px;
  text-transform: uppercase;
}

.parrafo-inicio {
  font-size: 48px;
  font-weight: 400;
  text-transform: uppercase;
}

.titulo-info-inicio {
  font-weight: 400;
  font-size: 70px;
  text-transform: uppercase;
}

.subtitulo-info-inicio {
  font-weight: 500;
  font-size: 30px;
  text-transform: uppercase;
}

.parrafo-info-inicio {
  font-size: 22px;
  font-weight: 600;
}

/* .img-mapa{
   height: 70%;
} */
.cuadrado {
  width: 100%;
  height: 12px;
  background: rgb(194, 61, 53);
  background: linear-gradient(106deg, rgb(194, 61, 53) 0%, rgb(200, 93, 56) 50%, rgb(229, 179, 35) 100%);
}

.container-mapa-inicio {
  height: 70%;
  display: flex;
}

.container-texto-2 {
  display: flex;
}

* {
  font-family: "M PLUS 1p", sans-serif;
  text-decoration: none !important;
  margin: 0;
  padding: 0;
}

body,
html {
  scroll-behavior: smooth;
  background-attachment: fixed, scroll;
  background-size: cover;
  z-index: -2;
  position: relative;
}

.linea-gruesa {
  background-color: #CA653A;
  width: 100%;
  height: 31px;
  margin-bottom: 8px;
}

.linea-fina {
  background-color: #D48640;
  width: 100%;
  height: 16px;
}

.secciones {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#inicio {
  height: 100vh;
}

#como-ayudar {
  height: 100vh;
}

#contacto {
  height: 100vh;
}

/* scroll bar */
/* scrollbar */
body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: #FFFFFF;
}

body::-webkit-scrollbar-thumb {
  background: #D48640;
  border-radius: 0.4em;
}

body::-webkit-scrollbar-thumb:hover {
  background: #CA653A;
  animation-duration: 1s;
}

/* navbar */
i {
  color: #0A0A0A;
}

.header {
  background-color: #FFFFFF;
  position: sticky;
  height: 100px;
  display: flex;
  align-items: center;
  width: 100%;
  top: 0;
  left: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}

.nav-link {
  color: #0A0A0A;
  text-decoration: none;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 3px;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  padding: 0 40px;
  letter-spacing: 4px;
  text-transform: uppercase;
  gap: 10px;
}

.nav-menu {
  display: flex;
  margin-right: 40px;
  list-style: none;
  align-items: center;
}

.uit {
  color: #D48640;
}

.nav-menu-item {
  font-size: 18px;
  margin: 0 10px;
  line-height: 80px;
  text-transform: uppercase;
  width: max-content;
}
.nav-menu-item:nth-child(4) {
  width: 65px;
  /* padding-top: 60px; */
}

.nav-menu-link {
  padding: 8px 12px;
  border-radius: 3px;
}

.nav-menu-link:hover,
.nav-menu-link_active {
  color: #D48640;
  transition: 0.4s;
}

/* TOGGLE */
.nav-toggle {
  color: rgb(0, 0, 0);
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  cursor: pointer;
  display: none;
}

/* MOBILE */
@media (min-width: 1024px) {
  .nav-container-social {
    display: none;
  }
}
@media (max-width: 1024px) {
  .nav-container-social {
    position: absolute;
    bottom: 40px;
  }

  .nav-social-icon {
    font-size: 40px;
  }

  .nav-social-ul {
    width: 300px;
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .header {
    z-index: 999;
    height: 80px;
    background-color: #FFFFFF;
    position: sticky;
  }

  .logo {
    font-size: 20px;
    font-weight: 700;
    padding: 0 16px;
    text-transform: uppercase;
  }

  .nav-menu {
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: #FFFFFF;
    position: fixed;
    top: 80px;
    width: 100%;
    padding: 20px 0;
    height: calc(100% - 60px);
    overflow-y: auto;
    left: 100%;
    transition: left 0.3s;
    z-index: 999;
  }

  .nav-menu-item {
    line-height: 70px;
  }

  .nav-menu-link:hover {
    background: none;
    color: #D48640;
  }

  .nav-toggle {
    display: block;
  }

  .nav-menu_visible {
    left: 0;
  }

  .nav-toggle:focus:not(:focus-visible) {
    outline: none;
  }
}
body {
  margin: 0;
}

h1 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 48px;
}

p {
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
  color: #333333;
}

.header2 {
  position: relative;
  text-align: center;
  color: white;
}

.logo {
  width: 50px;
  fill: white;
  padding-right: 15px;
  display: inline-block;
  vertical-align: middle;
}

.inner-header {
  height: 65vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.flex {
  /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

.content {
  position: relative;
  height: 20vh;
  text-align: center;
  background-color: white;
}

/* Animation */
.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }

  .content {
    height: 30vh;
  }

  h1 {
    font-size: 24px;
  }
}

/*# sourceMappingURL=style.css.map */
